xdebrepo2_*_all.deb
xdebrepo2_deb/
.AppleDouble
.DS_Store
.*.kate-swp
.*.swp
.vs
ChangeLog.git
Debug
Release
*.cppcheck
*.dSYM
*.deb
*.opensdf
*.sdf
*.sln.cache
*.sourceslist
*.suo
*.vcxproj.filters
*.vcxproj.user
